<h1 class="mx-auto">Inventario</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
     
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Valor</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let item of libros">
   
      <td>{{item.nombrelibro}}</td>
      <td>{{item.descripcionlibro}}</td>
      <td>{{item.costolibro}}</td>
      <td>
        <img src="../../assets/edit.png" class="iconoEditar"(click)="edit(item)">
        <img src="../../assets/delete.png" class="iconoEditar"(click)="delete(item)" onclick="return confirm('¿Seguro que quieres eliminar este registro?')">
      </td>
      
    </tr>
  
</table>